
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


*{
  font-family: 'Source Code Pro', monospace;
}

.card{
    padding: 1rem;
}


.carta-box {
    margin: auto;
    width: 150px;
    height: 200px;
    position: relative;
    perspective: 1000px;

  }

  img{
      border-radius: 10px;
  }

 /*  .carta-box:hover .carta {
      transform: rotateY(180deg);
  } */

  .carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    border-radius: 15px;
  }

  .cara {
    position: absolute;
    backface-visibility: hidden;
    background-color: gray;
    border-radius: 10px;
    background: #eded99;
  }

  .cara.detras {
    transform: rotateY(180deg);
  }

  .seccion0 {
    width: 100vw;
    height: 100vh;
  }

  .seccion {
    padding: 2rem 5rem;
    background-color: #c0d092;
    background-image: url("img/texturaverde.jpg");
  }

  .seccion2 {
    padding: 2rem ;
    background-color: #eded99;
  }
